# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
TestResults
*.user
*.suo
/src/Main/Rssdp.1.0.0.0.nupkg
/src/Main/Rssdp.1.0.0.0.symbols.nupkg
/src/Main/RSSDP.Portable/packages
/src/Main/.nuget
/src/Main/lib/net40/Microsoft.Threading.Tasks.dll
/src/Main/lib/net40/Microsoft.Threading.Tasks.Extensions.Desktop.dll
/src/Main/lib/net40/Microsoft.Threading.Tasks.Extensions.Desktop.xml
/src/Main/lib/net40/Microsoft.Threading.Tasks.Extensions.dll
/src/Main/lib/net40/Microsoft.Threading.Tasks.Extensions.xml
/src/Main/lib/net40/Microsoft.Threading.Tasks.xml
/src/Main/lib/net40/Rssdp.NetFx40.dll
/src/Main/lib/net40/Rssdp.NetFx40.dll.config
/src/Main/lib/net40/Rssdp.NetFx40.dll.lastcodeanalysissucceeded
/src/Main/lib/net40/Rssdp.NetFx40.xml
/src/Main/lib/net40/Rssdp.Portable.dll
/src/Main/lib/net40/Rssdp.Portable.xml
/src/Main/lib/net40/System.IO.dll
/src/Main/lib/net40/System.IO.xml
/src/Main/lib/net40/System.Net.Http.dll
/src/Main/lib/net40/System.Net.Http.Extensions.dll
/src/Main/lib/net40/System.Net.Http.Extensions.xml
/src/Main/lib/net40/System.Net.Http.Primitives.dll
/src/Main/lib/net40/System.Net.Http.Primitives.xml
/src/Main/lib/net40/System.Net.Http.WebRequest.dll
/src/Main/lib/net40/System.Net.Http.WebRequest.xml
/src/Main/lib/net40/System.Net.Http.xml
/src/Main/lib/net40/System.Runtime.dll
/src/Main/lib/net40/System.Runtime.xml
/src/Main/lib/net40/System.Threading.Tasks.dll
/src/Main/lib/net40/System.Threading.Tasks.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/Microsoft.Threading.Tasks.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/Microsoft.Threading.Tasks.Extensions.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/Microsoft.Threading.Tasks.Extensions.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/Microsoft.Threading.Tasks.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/Rssdp.Portable.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/Rssdp.Portable.dll.config
/src/Main/lib/portable-net45+win+wpa81+wp80/Rssdp.Portable.dll.lastcodeanalysissucceeded
/src/Main/lib/portable-net45+win+wpa81+wp80/Rssdp.Portable.dll.nuspec
/src/Main/lib/portable-net45+win+wpa81+wp80/Rssdp.Portable.XML
/src/Main/lib/portable-net45+win+wpa81+wp80/System.IO.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.IO.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.Extensions.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.Extensions.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.Primitives.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.Primitives.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Net.Http.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Runtime.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Runtime.xml
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Threading.Tasks.dll
/src/Main/lib/portable-net45+win+wpa81+wp80/System.Threading.Tasks.xml
/src/Main/lib/WP8/Microsoft.Threading.Tasks.dll
/src/Main/lib/WP8/Microsoft.Threading.Tasks.Extensions.dll
/src/Main/lib/WP8/Microsoft.Threading.Tasks.Extensions.Phone.dll
/src/Main/lib/WP8/Microsoft.Threading.Tasks.Extensions.Phone.xml
/src/Main/lib/WP8/Microsoft.Threading.Tasks.Extensions.xml
/src/Main/lib/WP8/Microsoft.Threading.Tasks.xml
/src/Main/lib/WP8/Rssdp.Portable.dll
/src/Main/lib/WP8/Rssdp.Portable.xml
/src/Main/lib/WP8/Rssdp.WindowsPhoneSL.dll
/src/Main/lib/WP8/Rssdp.WindowsPhoneSL.dll.config
/src/Main/lib/WP8/Rssdp.WindowsPhoneSL.dll.lastcodeanalysissucceeded
/src/Main/lib/WP8/Rssdp.WindowsPhoneSL.xml
/src/Main/lib/WP8/System.Net.Http.dll
/src/Main/lib/WP8/System.Net.Http.Extensions.dll
/src/Main/lib/WP8/System.Net.Http.Extensions.xml
/src/Main/lib/WP8/System.Net.Http.Primitives.dll
/src/Main/lib/WP8/System.Net.Http.Primitives.xml
/src/Main/lib/WP8/System.Net.Http.xml
/src/Main/lib/Xamarin.iOS10/Microsoft.Threading.Tasks.dll
/src/Main/lib/Xamarin.iOS10/Microsoft.Threading.Tasks.Extensions.dll
/src/Main/lib/Xamarin.iOS10/Microsoft.Threading.Tasks.Extensions.xml
/src/Main/lib/Xamarin.iOS10/Microsoft.Threading.Tasks.xml
/src/Main/lib/Xamarin.iOS10/Rssdp.iOS.dll
/src/Main/lib/Xamarin.iOS10/Rssdp.iOS.dll.config
/src/Main/lib/Xamarin.iOS10/Rssdp.iOS.dll.lastcodeanalysissucceeded
/src/Main/lib/Xamarin.iOS10/Rssdp.iOS.xml
/src/Main/lib/Xamarin.iOS10/Rssdp.Portable.dll
/src/Main/lib/Xamarin.iOS10/Rssdp.Portable.xml
/src/Main/lib/Xamarin.iOS10/System.Net.Http.dll
/src/Main/lib/Xamarin.iOS10/System.Net.Http.Extensions.dll
/src/Main/lib/Xamarin.iOS10/System.Net.Http.Extensions.xml
/src/Main/lib/Xamarin.iOS10/System.Net.Http.Primitives.dll
/src/Main/lib/Xamarin.iOS10/System.Net.Http.Primitives.xml
/src/Main/lib/Xamarin.iOS10/System.Net.Http.xml
/src/Main/lib/Xamarin.iOS10/System.Threading.Tasks.dll
/src/Main/lib/Xamarin.iOS10/System.Threading.Tasks.xml
/src/Main/lib/Xamarin.iOS10/Xamarin.Forms.Core.dll
/src/Main/lib/Xamarin.iOS10/Xamarin.Forms.Core.xml
/src/Main/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.dll
/src/Main/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.xml
/src/Main/lib/LICENSE.md
/src/Main/lib/README.md
/src/Main/packages/Microsoft.Bcl.1.1.9
/src/Main/packages/Microsoft.Bcl.Async.1.0.168
/src/Main/packages/Microsoft.Bcl.Build.1.0.21
/src/Main/packages/Microsoft.Net.Http.2.2.28
